<html>
  <head>
    <link rel="stylesheet" href='/static/style.css'/>
  </head>
  <body>
    <div class="flex-container">
    <div class="form_widget" id="f1">
        <form action="" method="POST">
        {{ batloform.hidden_tag() }}
        <p>{{ batloform.batloval.label }}</p>
        <p>{{ batloform.batloval(size=32) }}</P>
        <p>{{ batloform.submit()}}</p>
        </form>
    </div>
        <div class="form_widget" id="f2">
        <form action="" method="POST">
        {{ bathiform.hidden_tag() }}
        <p>{{ bathiform.bathival.label }}</p>
        <p>{{ bathiform.bathival(size=32) }}</p>
        <p>{{ bathiform.submit()}}</p>
        </form>
    </div>
    <div class="form_widget" id="f3">
        <form action="" method="POST">
        {{ cmdform.hidden_tag() }}
        <p>{{ cmdform.cmdval.label }}</p>
        <p>{{ cmdform.cmdval(size=22) }}</p>
        <p>{{ cmdform.submit()}}</p>
        </form>
    </div>
    <div class="form_widget" id="f4">
        <p>TIME</p>
        <p id="time"></p>    
    </div>
</div>

<script type=text/javascript src="{{url_for('static', filename='jquery-3.3.1.min.js') }}"></script>

<script type=text/javascript>
	$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<script type=text/javascript>
function update_time() {
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
            $.getJSON($SCRIPT_ROOT+"/_get_time",
                function(data) {
                    $("#time").text(data.time)
                });
        }
setInterval(update_time, 3000);
</script>
<script type=text/javascript>
	var hexArray = ['#993366','#336699','#5A60C4', '#CC3333']
	function randomColor(x){ return x[Math.floor(Math.random() * x.length)]}
	$(".form_widget").css("background",randomColor(hexArray))
</script>

<script type=text/javascript>
	var text = document.getElementById("time");
        $( text ).html("000");
</script>

</body>
</html>
