<html>
  <head>
    <link rel="stylesheet" href='/static/style.css'/>
  </head>
  <body>
    <div class="flex-container">
    <div class="widget">
        <form action="" method="POST">
        {{ batloform.hidden_tag() }}
        {{ batloform.batloval.label }}<br>
        {{ batloform.batloval(size=32) }}
        {{ batloform.submit()}}
        </form>
    </div>
        <div class="widget">
        <form action="" method="POST">
        {{ bathiform.hidden_tag() }}
        {{ bathiform.bathival.label }}<br>
        {{ bathiform.bathival(size=32) }}
        {{ bathiform.submit()}}
        </form>
    </div>
    <div class="widget">
        <form action="" method="POST">
        {{ cmdform.hidden_tag() }}
        {{ cmdform.cmdval.label }}<br>
        {{ cmdform.cmdval(size=32) }}
        {{ cmdform.submit()}}
        </form>
    </div>
</div>
  </body>
</html>
